<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Mark</th>
        <th>Model</th>
        <th>RegistrationNumber</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.mark}"></span></td>
        <td><span th:text="${car.model}"></span></td>
        <td><span th:text="${car.registrationNumber}"></span></td>
        <td> is repaired: <span th:text="${car.status}"></span></td>
        <td th:if="${car.status == false}">
            <form th:action="@{/repair}" method="post">
                <input name="id" hidden th:value="*{car.id}">
            <button type="submit">Repair</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/}" method="get">
    <button type="submit">strona głowna</button>
</form>

</body>
</html>