<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div class="row mb-1">
    <div class="col-md-12" th:insert="~{fragments/NavBarCarService :: nav}"></div>
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Mark</th>
        <th>Model</th>
        <th>RegistrationNumber</th>
        <th>Is repaired</th>
        <th>Click to repair</th>
        <th th:if="${time == true}">Admission date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}" class="center">
        <td><span th:text="${car.mark}"></span></td>
        <td><span th:text="${car.model}"></span></td>
        <td><span th:text="${car.registrationNumber}"></span></td>
        <td> is repaired: <span th:text="${car.status}"></span></td>
        <td>
            <div th:if="${car.status == false}">
                <form th:action="@{/repair}" method="post">
                    <input name="id" hidden th:value="*{car.id}">
                    <button type="submit" class="btn btn-success">Repair</button>
                </form>
            </div>
            <div th:else="${car.status == true}">
                <span th:text="${car.repairDate}"></span>
            </div>
        </td>
        <td th:if="${time == true}"><span th:text="${car.admissionDate}"></span></td>
    </tr>
    </tbody>
</table>


<form th:action="@{/}" method="get">
    <button type="submit" class="btn btn-primary">Main Site</button>
</form>

</body>
</html>